# Credenziali database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=cms_user

# Credenziali WordPress Utente con ruolo Admin
WP_BASE_URL=https://tuosito.wordpress/wp-json/wp/v2
WP_ADMIN_USERNAME=admin
WP_ADMIN_PASSWORD=xxxx xxxx xxxx xxxx xxxx xxxx

# JWT
JWT_KEY=una-stringa-lunga-e-random-generata-con-crypto

# Gemini - https://aistudio.google.com/api-keys
GEMINI_API_KEY=la-tua-chiave-api-gemini